

body {
    margin: 0;
    /* text-align: center; */
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whitelogo {
    position: absolute;
    width: 40%;
    z-index: 5;
    margin: auto;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #845EC2;
    opacity: 45%;
    z-index: 2;
}

.gaming {
   position: relative;
   width: 100%;
}

.linkydinks {
    display: flex;
    position: sticky;
}

.bar {
    position: fixed;
    /* bottom: 0; */
    background: #845EC2;
    padding: 30px 0 30px 0;
    width: 100%;
    margin: 0, 100px;
    top: 0;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Staatliches', cursive;
    font-size: 20px;

}

li {
    color: #FBEAFF;
    padding-left: 40px;
    padding-right: 40px;
}

a {
    color: #FBEAFF;
    text-decoration: none;
}

.foot {
    display: flex;
}

.footscreen {
    position: fixed;
    bottom: 0;
    background: #845EC2;
    /* padding: 8px 0 8px 0; */
    height: 50px;
    width: 100%;
    margin: 0, 100px;
    z-index: 100;
    justify-content: flex-start;
}

.foottext {
    /* align-items: flex-start; */
    flex-direction: row;
    /* justify-content: flex-start; */
    font-size: 12px;
}

.hide {
    display: none;
  }

.flavors {
    display: flex;
    width: 175px;
    justify-content: center;
    margin: auto;
}

.can {
    padding: 100px 50px 100px 50px;
}

.about {
    display: flex;
    background: #00C9A7;
    padding: 50px 50px 50px 0;
    height: 500px;
    justify-content: center;
}

h1 {
    font-family: 'Staatliches', cursive;
}

p {
    font-family: Arial;
    font-size: 15px;
}

.products {
    color: white;
    flex: space-around;
    width: 500px;
    text-align: center;
}
